  .root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }

  .inputFeedback {
    color: red;
    margin-top: 4px;
  }

  .textInput {
    color: black;
  }

  .textInputError {
    color: red;
  }